<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NextEvent</title>
    <% include ./partials/link_and_scripts.ejs %>
</head>

<body>
<% include ./partials/navbar.ejs %>
<main class="home-page">
    <section>
        <h2>Oops!</h2>
        <article>
            <h3>Page Not Found</h3>
            <p>Page you are looking for is not available
            </p>
        </article>
    </section>
</main>
<% include ./partials/footer.ejs %>
</body>
</html>
